.black {
    background-color: black;
}

.red {
    background-color: red
}

.white {
    color: white;
}

#content {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    border: 5px white;
}

h1 {
    margin-left: 120px
}

h2 {
    margin-left: 120px
}

.center {
    margin-left: 100px;
}

.container {
    width: 960px
}