* {
  text-decoration: none;

}

.black {
    background-color: black;
}

.red {
    background-color: red
}

.white {
    color: white;
}

#content {

}

li {
    display: inline;
    margin: 5px;
}

li:first-child {
    margin-right: 50px;
}

ul {
    padding: 0;
}

.flt-lft {
    float: right;
    margin: 100px;
}

li:hover {
    background: white
}